<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fml.blah.store.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fml.blah.store.entity.Order">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="user_id" property="userId" />
        <result column="delete_time" property="deleteTime" />
        <result column="create_time" property="createTime" />
        <result column="pay_time" property="payTime" />
        <result column="count" property="count" />
        <result column="price" property="price" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id, user_id, delete_time, create_time, pay_time, count, price, created_at, updated_at, deleted
    </sql>

</mapper>
